.navbar {
    padding: 1.2rem 0;
}

.navbar a {
color: hsla(207.64044943820224,
        50.282485875706215%,
        34.705882352941174%,1);
}

.offcanvas-body {
    padding-top: 100px; 
    font-size: 1.4rem; 
  }

  .offcanvas-content {
    margin-bottom: 20px;
  }