.carousel {
    width: 100%;
    height: 100vh;
    /* Outlines the words with black (for better visibility over the images */
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.carousel-inner > .carousel-item > img {
    height: 100vh;
    width: 100%;
}
/* I changed it so that instead of h3 and p being outlined, only items in the carousel are outlined */
